@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Tilt+Prism&family=Tsukimi+Rounded:wght@700&display=swap');  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Tilt Prism', cursive; */
    font-family: 'Tsukimi Rounded', sans-serif;
}

body{
    background: #f9f9f9;
    min-height: 100vh;
    
    
}
.container{
  overflow: hidden;
  width: 99vw;
  
}
header{
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  z-index: 100;
}
.logo{
  display: flex;
  flex: 1;
  align-items: center;
}
.logo a{
  text-decoration: none;
}
#logo{
  font-size: 3em;
  text-align: center;
  font-family: 'Tsukimi Rounded', sans-serif;
  margin-left: 0.5em;
  justify-content: center;
  color: #48736b;
}
.nav{
  display: flex;
  flex: 9;
  justify-content: end;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;
  
  
}
.border{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 155%;
  margin-right: 2em;
  margin-left: 1em;
  margin-top: 2px;
  margin-bottom: 5px;
  background-color: #359381;
  font-weight: 600;
  width: 5.5em;
  padding: 5px;
  border-radius: 60px;
}

.border:hover{
  background-color: #35938233;

}

.nav-link{
  text-decoration: none;
  color: #f9f9f9;
} 


/* section */

.parallex{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#text{
  position: absolute;
  font-size: 7vh;
  color: white;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
}
.parallex img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  transition: all 1.5s;
}
.sec1{
  position: relative;
  background-color: #003329;
  color: #f9f9f9;
  margin-top: 7em;
  top: 8.3em;
  padding: 2em;
  
}
.sec1 h1{
  font-size: 4em;
  margin-bottom: 1em;
}
.sec1 h4{
  font-size: 3em;
  align-items: center;
}
.sec1 p{
  font-size: 2em;
}
.both{
  background-color: white;
}
#hr1, #hr2{
  width: 15em;
}
.na{
  display: flex;
  cursor: pointer;
  font-size: 2em;flex-direction: row;
  justify-content: space-around;
  margin-bottom: 3em;
  margin-left: 3em;
  transition: 2s;
}
.qwe{
  display: none;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: black;
  transition: 2s;
}
.s1:hover > .qwe{
  transition: 2s;
  background-color: white;
  padding: 10px;
  display: block;
}
.r1:hover > .qwe{
  background-color: white;
  padding: 10px;
  display: block;
}
#s1, #r1{
  width: 15em;
}
.forline{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 2em;
}
.foot{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  margin-top: 10em;
  padding-bottom: 5em;
}